@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

:root {
	--pure-white: #fff;
	--base-blue: #add8e6;
	--light-blue: #03a9f4;
	--semi-deep-blue: #2a7da2;
	--deep-blue: #003147;
	--black-90: #081921;
	--light-grey: #f0f0f0;
	--grey-50: #848c99;
	--dark-grey: #848c90;
	--long-text-black: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	background: var(--base-blue);
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

p {
	color: var(--long-text-black);
}

/* 
strong {
	font-weight: normal;
} */

.container {
	position: relative;
	width: 100%;
	/* max-width: 1000px; */
	/* margin: 50px; */
	min-height: 1000px;
	background: var(--pure-white);
	display: grid;
	grid-template-columns: 370px 1fr;
	box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.container .left_side {
	position: relative;
	background: var(--deep-blue);
	padding: 40px;
}

.headerIcon {
	position: absolute;
	top: 1rem;
	right: 1.2rem;
	/*display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -24px;
    margin-right: -24px;*/
	cursor: pointer;
}

.headerIcon .downloadBtn svg {
	fill: var(--base-blue);
}

.headerIcon .downloadBtn svg:hover {
	fill: var(--pure-white);
}

.profileText {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText .imgBx {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	background-color: #4ebaea;
}

.profileText .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profileText h2 {
	color: var(--pure-white);
	font-size: 1.6em;
	margin-top: 20px;
	/* text-transform: uppercase; */
	letter-spacing: 2px;
	text-align: center;
	font-weight: 600;
	line-height: 1.4em;
}

.profileText h2 span {
	font-size: 0.8em;
	font-weight: 300;
	letter-spacing: normal;
	display: block;
}

.profileText h2 hr {
	height: 0.2px;
	width: 100px;
	padding: 0;
	margin: 5px auto;
	border: 0px solid var(--pure-white);
	background-color: var(--pure-white);
}

.profileText h2 small {
	font-size: 0.6em;
	font-weight: 200;
	letter-spacing: normal;
	display: block;
	line-height: normal;
	margin-top: 8px;
}

.contactInfo {
	padding-top: 40px
}

.title {
	color: var(--pure-white);
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
	margin-bottom: 20px;
}

.contactInfo ul {
	position: relative;
}

.contactInfo ul li {
	position: relative;
	list-style: none;
	margin: 10px 0;
	cursor: pointer;
}

.contactInfo ul li .icon {
	display: inline-block;
	width: 30px;
	font-size: 18px;
	color: var(--light-blue);
}

.contactInfo ul li span {
	color: var(--pure-white);
	font-weight: 300;
}

.contactInfo ul li span a {
	text-decoration: none;
	color: var(--pure-white);
	font-weight: 300;
	/*transition: all 0.2s;*/
}

.contactInfo ul li span a:hover {
	font-weight: 600;
}

.contactInfo.education li {
	margin-bottom: 15px;
}

.contactInfo.education h5 {
	color: var(--light-blue);
	font-weight: 500;
}

.contactInfo.education h4:nth-child(2) {
	color: var(--pure-white);
	font-weight: 500;
}

.contactInfo.education h4 {
	color: var(--pure-white);
	font-weight: 300;
}

.contactInfo.language .percent {
	position: relative;
	width: 100%;
	height: 6px;
	background: var(--black-90);
	display: block;
	margin-top: 5px;
}

.contactInfo.language .percent div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--light-blue);
}

.container .right_side {
	position: relative;
	background: var(--pure-white);
	padding: 40px;
}

.about {
	margin-bottom: 40px;
}

.about:last-child {
	margin-bottom: 0;
}

.title2 {
	color: var(--deep-blue);
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}

.about p {
	text-align: justify;
}

.about p a i {
	font-size: 14px;
	color: var(--semi-deep-blue);
}


.about p a i:hover {
	color: var(--light-blue);
}

.about .box {
	display: flex;
	flex-direction: row;
	margin: 20px 0px;
}

.about .box .year_company {
	min-width: 150px;
}

.about .box .year_company h5 {
	text-transform: uppercase;
	color: var(--dark-grey);
	font-weight: 600;
}

.about .box .text h4 {
	text-transform: uppercase;
	color: var(--semi-deep-blue);
	font-size: 18px;
}

.about .box .text h4 a span {
	color: var(--semi-deep-blue);
	font-size: 18px;
	vertical-align: middle;
}

.about .box .text p b {
	font-size: 15px;
}

.about .box .text span {
	color: var(--light-blue);
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
}


.about .box .text span i {
	font-size: 15px;
}

.skills .box {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 150px 1fr;
	justify-content: center;
	align-items: center;
}

.skills .box h4 {
	text-transform: uppercase;
	color: var(--grey-50);
	font-weight: 500;
}

.skills .box .percent {
	position: relative;
	width: 100%;
	height: 10px;
	background: var(--light-grey);
}

.skills .box .percent div {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--light-blue);
}

.interest ul {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.interest ul li {
	list-style: none;
	color: #333;
	font-weight: 500;
	margin: 10px 0;
}

.interest ul li i {
	color: var(--light-blue);
	font-size: 18px;
	width: 20px;
}

/* 
@media (max-width: 1000px) {
	.container {
		margin: 10px;
		grid-template-columns: repeat(1, 1fr);
	}

	.interest ul {
		grid-template-columns: repeat(2, 1fr);
	}
} */

@media (max-width: 600px) {
	.about .box {
		flex-direction: column;
	}

	.about .box .year_company {
		min-width: 150px;
		margin-bottom: 5px;
	}

	.interest ul {
		grid-template-columns: repeat(1, 1fr);
	}

	.skills .box {
		grid-template-columns: repeat(1, 1fr);
	}
}